
<%= form_with(model: @person, local: true) do |form| %>

    <div class="m-1 ">
    <%=form.label :name , style: "width:100px"%>
    <%= form.text_field :name %>
    </div>

    <div class="m-1 ">
    <%=form.label :surname , style: "width:100px"%>
    <%= form.text_field :surname %>
    
    </div>

    <div class="m-1 ">
    <%=form.label :birth_date , style: "width:100px"%>
    <%= form.date_field :birth_date %>
    
    </div>

    <div class="m-1 ">
    <%=form.label :dni , style: "width:100px"%>
    <%= form.text_field :dni %>
    
    </div>

    <div>
    <%=form.submit "Create", :class => 'btn btn-success m-1'  %>
    </div>

<%end%>

