
<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title mb-4"><%=@person.name%> <%=@person.surname%></h5>
    <p><b>Fecha de Nacimiento</b> : <%=@person.birth_date%> </p>
    <p><b>DNI: </b> <%=@person.dni%> </p>
    <%= link_to "Go back to Home", root_path, class:"btn btn-primary" %>

  </div>
</div>
